
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #141414;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
}


.container {
  position: relative; /* Relative position for background image */
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
}

.bottom-navigation {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column; /* Align pagination dots vertically on smaller screens */
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensure it's above background */
}

.swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.swiper-slide {
  width: 180px;
  height: 120px;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.swiper-slide:hover {
  transform: scale(1.1);
}

/* Movie details overlay styles */
.details-container {
  position: absolute;
  top: 50px;
  left: 20px;
  display: none;
  z-index: 10;
  text-align: left;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  max-width: 100%; 
  width: 300px;
  height: 400px; 
  max-height: 80%; /* Limit maximum height */
  overflow-y: auto; /* Enable scrolling if content exceeds */
}

.details-container h1 {
  margin-bottom: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff; /* White color for the title */
}

.details h3 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: #fdeeee; 
}

.description {
  margin-top: 20px;
  margin-bottom: 10px; /* Add space below the description */
  font-size: 1rem;
  color: #ddd; 
}

#seeMoreButton {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

#seeMoreButton:hover {
  background-color: rgba(255, 255, 255, 1); 
}

/* Pagination dots */
.swiper-pagination {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: rgba(240, 5, 5, 0.5);
  border-radius: 10px;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: rgb(20, 20, 20);
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px;
  background-color: #141414;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer p {
  font-size: 0.9rem;
  color: #999;
}
