/* Container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid grey;
    
  }

  /* Title */
  .title {
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 900;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 40px;
            background-color: rgb(51, 10, 236);
            background-image: linear-gradient(45deg, rgb(51, 10, 236), black);
            background-size: 100%;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
  }

  /* Card Container */
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    
  }
  
  /* Card */
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 200px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    margin: 10px;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    position: relative;
   
    height: 170px;
  }
  
  /* Card Hover Effect */
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  /* Card Content */
  .card-content {
    padding: 20px;
  text-align: center; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1;
  }

  /* Title Inside Card */
  .card-title {
    color: #0e012c;
    text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center; 
  background-color: rgba(255, 255, 255, 0.5); 
  padding: 5px 10px; 
}
  

  
  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 0;
  }